<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
        <ion-icon style="height: 20px;" name="home-outline"></ion-icon>
        <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
        <ion-icon style="height: 20px;" name="person-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="services">
        <ion-icon class="service-tab" style="height: 20px; width:20px;"></ion-icon>
        <ion-label>Services</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="logout">
        <ion-icon style="height: 20px;" name="log-out-outline"></ion-icon>
        <ion-label>Logout</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
