<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button class="nav-bar-btns" (click)="homeButtonPressed()">
              <ion-icon name="home-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-label class="ion-text-end header-title">Welcome {{loggedInUser.name}}</ion-label>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
          <ion-grid>
              <ion-row>
                <ion-col size="5"></ion-col>
                <ion-col size="6" style="text-align: right;">Add Family Member</ion-col>
                <ion-col size="1">
                  <img src="assets/add-user-icon.png" style="height:20px;" class="ion-text-center" (click)="addPatientButtonPressed()"/>
                </ion-col>
              </ion-row>
            </ion-grid>  
    <ion-card (click)="expandItem(patient)" *ngFor="let patient of allUsers" style="background-image: linear-gradient(#03749E, #1D7F4D)">
      <ion-card-header>
        <ion-card-title class="color-white">
            <ion-label style="font-size: 22px; font-family: 'Poppins-Bold';">{{patient.name}}</ion-label>
          <ion-icon *ngIf="!patient.expanded" style="float: right;" name="chevron-down-outline"></ion-icon>
          <ion-icon *ngIf="patient.expanded" style="float: right;" name="chevron-up-outline"></ion-icon>
        </ion-card-title>
      </ion-card-header>
  
      <ion-card-content  class="color-white">

        <app-expandable expandHeight="200px" [expanded]="patient.expanded">
          <ion-grid>
            <ion-row>
              <ion-col size="4">Name</ion-col>
              <ion-col>{{patient.name}}</ion-col>
              <ion-col (click)="editButtonPressed(patient)" size="1" style="text-align: right;">
                <img src="assets/edit-user-icon.png" style="height:20px;" class="ion-text-center"/>
              </ion-col>
            </ion-row>
            
            <ion-row>
              <ion-col  size="4">Date of Birth</ion-col>
              <ion-col>{{patient.date_of_birth}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col  size="4">Phone</ion-col>
              <ion-col>{{patient.phone_number == false ? "" : "0"+patient.phone_number}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="4">Address</ion-col>
              <ion-col>{{patient.address}}</ion-col>
            </ion-row>
          </ion-grid>
          
        </app-expandable>
      </ion-card-content>
    </ion-card>
  </ion-content>
  