<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button class="nav-bar-btns">
              <ion-icon name="home-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-label class="ion-text-end header-title">Welcome</ion-label>
        <ion-buttons slot="end">
            <ion-button class="nav-bar-btns">
                <ion-icon name="chevron-down-outline"></ion-icon>
            </ion-button>
          </ion-buttons>  
    </ion-toolbar>
  </ion-header>

<ion-content>

</ion-content>
